main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

.footList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navImg {
  height: 100px;
  width: 200px;
}
.carouselImage {
  width: 50%;
  margin: auto;
}
@media screen and (max-width: 800px) {
  .carouselImage {
    width: 75%;
  }
}
